<div class="container mt-4">
  <h2>{{ isEditMode ? 'Editar Tarefa' : 'Adicionar Nova Tarefa' }}</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="description" class="form-label">Descrição da Tarefa</label>
      <textarea id="description" formControlName="description" class="form-control" rows="3" placeholder="Ex: Realizar pesquisa sobre POO"></textarea>
    </div>

    <div class="mb-3">
      <label for="taskCategory" class="form-label">Categoria</label>
      <select id="taskCategory" formControlName="taskCategory.id" class="form-select">
        <option value="">Selecione uma categoria</option>
        <option *ngFor="let category of taskCategories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="logDate" class="form-label">Data de Registro</label>
      <input type="date" id="logDate" formControlName="logDate" class="form-control">
    </div>

    <div class="mb-3">
      <label for="timeSpentInMinutes" class="form-label">Tempo Gasto (em minutos)</label>
      <input type="number" id="timeSpentInMinutes" formControlName="timeSpentInMinutes" class="form-control" placeholder="Ex: 60">
      <div *ngIf="taskForm.get('timeSpentInMinutes')?.invalid && taskForm.get('timeSpentInMinutes')?.touched" class="text-danger">
        O tempo deve ser um valor válido (incrementos de 30).
      </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="submit" class="btn btn-primary me-md-2" [disabled]="!taskForm.valid">
        {{ isEditMode ? 'Salvar Tarefa' : 'Adicionar Tarefa' }}
      </button>
      <button type="button" class="btn btn-secondary" [routerLink]="['/student/enrollments', enrollmentId, 'tasks']">Cancelar</button>
    </div>
  </form>
</div>
